#main {
	background-color: whitesmoke;
	width: 80%;
	text-align: center;
	border-radius: 20px;
}

p {
	font-size: 20px;
}

.start-btn {
	width: 120px;
	height: 44px;
	background-color: #e1e1e1;
	border-radius: 5px;
	cursor: pointer;
	border:2px solid #A90000;
}

.start-btn:hover {
	cursor: pointer;
	background-color: #A90000;
	color: white;
}

.homeBtnBox {
	width: 100%;
	height: auto;
	text-align: center;
	position: relative;

}

.homeBtn {

	width: 120px;
	height: 44px;
	background-color: #e1e1e1;
	border-radius: 5px;
	cursor: pointer;
	border:2px solid #A90000;
	text-align: center;
	margin: 0px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	
}

.homeBtnText {
	text-decoration: none;
	color:  #A90000;
	font-size: 16px;
	display:block;
	padding-top: 9px;
}

.homeBtn:hover {
	cursor: pointer;
	background-color: #A90000;
}

.homeBtn:hover a {
	color: white;
}

