#result{
    display: none;
    background-color: whitesmoke;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

.resultname{
    font-size: 26px;
}

.resultDesc{
    font-size: 20px;
}

.kakao{
    color: #000000, 90%;
    background-color: #FEE500;
    font-size: 20px;
    border: 0px;
    border-radius: 20px;
}

/*만들어놓고 안씀*/
.kakao:hover, .kakao:focus{ 
    background-color: whitesmoke;
    color: #FEE500;
}